@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;600;700;900&display=swap');

:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
  }
  
.header {
    position: absolute;
    width: 100%;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > a {
    position: absolute;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 133%;
    text-decoration: none;
    margin-top: 24px;
    margin-left: 156px;
    color: var(--iris);
    text-transform: uppercase;
}

.header > a > span {
    margin-top: 24px;
    width: 71px;
    height: 24px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 133%;

    color: #2E2F42;
}

.navigation {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 348px;
    text-align: center;
    position: absolute;
    width: 261px;
    height: 24px;
}

.navigation > li {
    display: inline-block;
    text-align: center;
    width: 66px;
    height: 24px; 
}

.navigation > li > a {
    font-weight: 600;

    text-decoration: none;

    letter-spacing: 0.02em;

    color: var(--navyblue);

}

.navigation > li > a:hover {
    color: var(--iris);
}

.contacts {
    margin-top: 24px;
    margin-bottom: 24px; 
    text-align: right;
    margin-right: 156px;
}

.contacts > a {
    height: 24px;
    margin-right: 40px;

    text-decoration: none;

    letter-spacing: 0.02em;

    color: #434455;
}

.contacts > a:hover {
    color: var(--iris);
} 


.buttons {
    position: absolute;
    height: 48px;
    margin-left: 427px;
    margin-top: 168px;
}

.buttons > li {
    display: inline-block;
    text-align: left;
    margin-right: 24px;
}

.buttons > li > button {
    align-items: center;
    padding: 8px 16px;

    width: 116px;
    height: 48px;

    background: #F4F4FD;

    border: 1px solid #E7E9FC;
    border-radius: 4px;

    font-weight: 600;

    text-align: center;
    letter-spacing: 0.04em;

    color: var(--iris);
}

.buttons > li > button:hover {
    background-color: var(--iris);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.projects {
    padding-top: 288px;
    margin-left: 156px;
}

.projects > li {
    display: inline-block;
    text-align: left;
    margin-right: 24px;
    width: 360px;
    height: 420px;
    
    background: #FFFFFF;

    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.first-row,
.second-row,
.third-row {
    margin-bottom: 48px;
}

.projects > li > h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 16px;

    letter-spacing: 0.02em;

    color: #2E2F42;
}

.projects > li > p {
    margin-left: 16px;

    letter-spacing: 0.02em;

    color: #434455;
}

.footer {
    position: relative;
    width: 100%;
    height: 310px;

    background-color: var(--navyblue);
}

.footer > a {
    text-transform: uppercase;
    position: absolute;
    margin-top: 100px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 133%;
    text-decoration: none;
    margin-left: 156px;
    color: var(--iris);
}

.footer > a > span {
    width: 71px;
    height: 24px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 133%;

    color: #F4F4FD;
}

.footer > p {
    position: absolute;
    width: 264px; 
    height: 72px;
    left: 156px;
    margin-top: 138px;

    letter-spacing: 0.02em;

    color: #E7E9FC;
}